<link rel="stylesheet" type="text/css" href="reset.css">

body {
  font-size:;
  background-color: #ff0000;
  color: #0000FF;


}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;


}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;

}

.right {
  float: right;
  text-decoration:none;
}

ul {
  list-style-type: none;
  float: right;


}

li {
  float: right;
  padding: 30px;


}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

h1 {
  font-size:36px;
  line-height:1.6em
}

h3 {
  font-size:20px;
  line-height:1.2em;
  padding-bottom:10px
}

p{
  font-size:14px
}

.story-text {
  line-height:1.6em
}

figcaption {
  font-size:12px;
  padding-bottom:10px
}

a {
  text-decoration: none;
  color:white;
}

.right:link {
  color:#0000ff
   }

.right:visited {
  color:#B22222
  }

.right:hover {
   color:#FFC0CB
 }

.right:active {
   color:#FFFF99
   }

  .author {
    padding-bottom:20px
  }
